body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

#story-box {
  height: 300px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

#user-box {
  max-width: 270px;
  margin-top: 88px;
}

#pencil-icon {
  font-size: 24px;
}
