<h1>Welcome</h1>
<p>Welcome to Story Teller 1.0.0</p>
<p>Tell your stories from best and worst of your life and choose for them read by the world or to be completely private
    as
    your own personal diary</p>
{{#if user}}

{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>

{{/if}}